/****************************
 * Default Parameter Values
 * nextflow run script.nf --primary_assembly "/path/to/p_ctg.fasta"
 ****************************/

params {
  help = false
  monochrome_logs = false

  outdir = "PolishCLR_Results"

  /* Input files */
  primary_assembly = false
  alternate_assembly = false

  paternal_assembly = false
  maternal_assembly = false

  mitochondrial_assembly = false

  illumina_reads = false
  pacbio_reads = false
  k = "21"
  species = 'species_name'
  meryldb = false /* can pass in a prebuilt illumina meryl db file, otherwise will build */

  /* Modifiers */
  falcon_unzip = false
  same_specimen = true
  steptwo = false   /* retire this */
  step = 1

  /* Slurm */
  queueSize = 12
  account = false
  threads = 40
  clusterOptions = false /* this will completely overwrite the above options */

  /* link executables (optional) */
  parallel_app = 'parallel'
  parallel_params = '' /* stub pass through params, most of these might be deleted later */
  bzcat_app = 'bzcat'
  bzcat_params = ''
  pigz_app = 'pigz'
  pigz_params = ''
  meryl_app = 'meryl'
  meryl_params = ''
  merqury_sh = '$MERQURY/merqury.sh'
  pbmm2_app = 'pbmm2'
  pbmm2_params = ''
  minimap2_app = 'minimap2'
  minimap2_params = ''
  samtools_app = 'samtools'
  samtools_params = ''
  gcpp_app = 'gcpp'
  gcpp_params = ''
  bwamem2_app = 'bwa-mem2'
  bwamem2_params = ''
  freebayes_app = 'freebayes'
  freebayes_params = ''
  bcftools_app = 'bcftools'
  bcftools_params = ''
  /* also this default value needs to be moved to ceres/atlas configs, not here */
  merfin_app = '/project/ag100pest/software/merfin/build/bin/merfin'
  merfin_params = ''
  pbcstat_app = 'pbcstat'
  pbcstat_params = ''
  hist_plot_py = '/project/ag100pest/software/purge_dups/scripts/hist_plot.py'
  calcuts_app = 'calcuts'
  calcuts_params = ''
  split_fa_app = 'split_fa'
  split_fa_params = ''
  purge_dups_app = 'purge_dups'
  purge_dups_params = ''
  get_seqs_app = 'get_seqs'
  get_seqs_params = ''
  gzip_app = 'gzip'
  gzip_params = ''
  /*hmm*/
//  busco_app = 'singularity run /project/ag100pest/software/assemblyStats/work/singularity/ezlabgva-busco-v5.1.2_cv1.img busco'
  busco_app = 'busco'
  busco_params = ''

  busco_lineage = 'insecta_odb10'  // --auto-lineage, can also pass in full path to predownloaded busco files

  /* hacky way of throwing an error on --profile, when it should be -profile */
  profile = false
}

env {
  parallel_app = "$params.parallel_app"
  parallel_params = "$params.parallel_params"
  bzcat_app = "$params.bzcat_app"
  pigz_app = "$params.pigz_app"
  meryl_app = "$params.meryl_app"
  pbmm2_app = "$params.pbmm2_app"
  minimap2_app = "$params.minimap2_app"
  samtools_app = "$params.samtools_app"
  gcpp_app = "$params.gcpp_app"
  bwamem2_app = "$params.bwamem2_app"
  freebayes_app = "$params.freebayes_app"
  bcftools_app = "$params.bcftools_app"
  merfin_app = "$params.merfin_app"
  pbcstat_app = "$params.pbcstat_app"
  hist_plot_py = "$params.hist_plot_py"
  calcuts_app = "$params.calcuts_app"
  split_fa_app = "$params.split_fa_app"
  purge_dups_app = "$params.purge_dups_app"
  get_seqs_app = "$params.get_seqs_app"
  gzip_app = "$params.gzip_app"
  busco_app = "$params.busco_app"
  busco_lineage = "$params.busco_lineage"
}

process {
  publishDir = "$params.outdir"
}

profiles {
  standard { includeConfig 'configs/slurm.config' } /* rethink: default is slurm */
  slurm { includeConfig 'configs/slurm.config' }
  ceres { includeConfig 'configs/ceres.config' }
  atlas { includeConfig 'configs/atlas.config' }
  sge { includeConfig 'configs/sge.config' }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  docker {
    process.container = params.docker_img
    docker.enabled = true
  }
  local { executor="local"}
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}

/* In case computing environment is using singularity or docker */
singularity.autoMounts = true
docker.runOptions = '-u \$(id -u):\$(id -g)'

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'isugifNF/polishCLR'
  homePage = 'https://isugifnf.github.io/polishCLR/'
  description = 'Nextflow implementation of Arrow and Freebayes assembly polishing'
  mainScript = 'main.nf'
  version = '1.0.0'
}
