/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

env {
  hist_plot_py = '/project/ag100pest/software/purge_dups/scripts/hist_plot.py'
  account_flag = params.account ? " --account=$params.account " : ' --account=ag100pest '
}

process {
  conda='/project/ag100pest/conda_envs/polishCLR_env/'

  withName:BUSCO {
    conda='/project/ag100pest/conda_envs/busco5'
  }
}

