env {
  threads = params.threads ? "$params.threads" : 40
  account_flag = params.account ? " --account=$params.account " : ' --account=ag100pest '
}

process {
  executor='slurm'
  clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads} -t 48:00:00 ${env.account_flag} "
  scratch = true
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}
