/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}

process {
  executor='slurm'
  clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads} -t 08:00:00"

  withName:gcpp_arrow {
    clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads}"
  }
   withName:PURGE_DUPS_02 {
    clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads} -t 24:00:00"
  }
  withName: align_shortreads {
    clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n 72 --partition=mem --mem=250G"
  }
  withName: merfin_polish {
    clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n 50 --partition=mem --mem=100G"
  }
withName:RENAME_FILE {
    executor='local'
  }
}

