/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}

process {
  executor='slurm'
  clusterOptions=params.clusterOptions ? "$params.clusterOptions" : "-N 1 -n ${params.threads} -t 04:00:00"
  conda='/project/ag100pest/conda_envs/polishCLR_env/'

  withName:MerquryQV { 
    conda='/project/ag100pest/conda_envs/polishCLR_env/'
  }

  withName:BUSCO {
    conda='/project/ag100pest/conda_envs/busco5'
  }

}

