/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

process {
  // withName:bz_to_gz { }
  // withName:meryl_count_01 { }
  // withName:meryl_union_01 { }
  // withName:MerquryQV_01 { }
  // withName:pbmm2_index_02 { }
  // withName:pbmm2_align_02 { }
  // withName:create_windows_02 { }
  // withName:gcc_Arrow_02 { }
  // withName:merge_consensus_02 { }
  // withName:MerquryQV_03 { }
  // withName:align_shortreads_04 { }
  // withName:create_windows_04 { }
  // withName:freebayes_04 { }
  // withName:combineVCF_04 { }
  // withName:vcf_to_fasta_04 { }
  // withName:MerquryQV_05 { }
  // withName:align_shortreads_06 { }
  // withName:create_windows_06 { }
  // withName:freebayes_06 { }
  // withName:combineVCF_06 { }
  // withName:vcf_to_fasta_06 { }
  // withName:MerquryQV_07 { }
}
