/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

process {
  // withName:bz_to_gz {}
  // withName:MERGE_FILE_00 {}
  // withName:MERGE_FILE_TRIO {}
  // withName:meryl_count {}
  // withName:meryl_union {}
  // withName:meryl_peak {}
  // withName:MerquryQV_01 {}
  // withName:bbstat_01 {}
  // withName:create_windows {}
  // withName:pbmm2_index {}
  // withName:pbmm2_align {}
  // withName:gcc_Arrow {}
  // withName:merge_consensus {}
  // withName:MerquryQV_03 {}
  // withName:bbstat_03 {}
  // withName:SPLIT_FILE_03 {}
  // withName:PURGE_DUPS_03b {}
  // withName:BUSCO_setup {}
  // withName:BUSCO {}
  // withName:meryl_genome {}
  // withName:combineVCF_arrow {}
  // withName:reshape_arrow {}
  // withName:merfin_polish_arrow {}
  // withName:vcf_to_fasta_arrow {}
  // withName:MerquryQV_05 {}
  // withName:bbstat_05 {}
  // withName:align_shortreads {}
  // withName:freebayes {}
  // withName:combineVCF {}
  // withName:meryl_genome_fb {}
  // withName:merfin_polish {}
  // withName:vcf_to_fasta {}
  // withName:MerquryQV_07 {}
  // withName:bbstat_07 {}
  // withName:MerquryQV_09 {}
  // withName:bbstat_09 {}
  // withName:SPLIT_FILE_09b {}
}
