/* Set the publishDir for all processes */

process {
  withName:bz_to_gz {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'copy'
    ]
  }
  withName:meryl_count {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'symlink'
    ]
  }
  withName:meryl_union {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'copy'
    ]
  }
  withName:meryl_peak {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'symlink'
    ]
  }
  withName:PREFIX_PRI {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'copy'
    ]
  }
  withName:PREFIX_ALT {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'copy'
    ]
  }
  withName:PREFIX_MIT {
    publishDir = [
      path: "${params.outdir}/00_Preprocess",
      mode: 'copy'
    ]
  }
  withName:MerquryQV_00 {
    publishDir = [
      path: "$params.outdir/00_Preprocess/00_QV",
      mode: 'copy',
      pattern: "*.qv",
      saveAs: { filename -> "00_${filename}" }
    ]
  }
  withName:MerquryQV_01 {
    publishDir = [
      path: "$params.outdir/Step_1/01_QV",
      mode: 'copy',
      pattern: "*.qv",
      saveAs: { filename -> "01_${filename}" }
    ]
  }
  withName:MerquryQV_04 {
    publishDir = [
      path: "$params.outdir/Step_2/04_QV",
      mode: 'copy',
      pattern: "*.qv",
      saveAs: { filename -> "04_${filename}" }
    ]
  }
  withName:MerquryQV_05 {
    publishDir = [
      path: "$params.outdir/Step_2/05_QV",
      mode: 'copy',
      pattern: "*.qv",
      saveAs: { filename -> "05_${filename}" }
    ]
  }
  withName:MerquryQV_06 {
    publishDir = [
      path: "$params.outdir/Step_2/06_QV",
      mode: 'copy',
      pattern: "*.qv",
      saveAs: { filename -> "06_${filename}" }
    ]
  }
  withName:bbstat_00 {
    publishDir = [
      path: "$params.outdir/00_Preprocess/00_bbstat",
      mode: 'copy',
      saveAs: { filename -> "00_${filename}" }
    ]
  }
  withName:bbstat_01 {
    publishDir = [
      path: "$params.outdir/Step_1/01_bbstat",
      mode: 'copy',
      saveAs: { filename -> "01_${filename}" }
    ]
  }
  withName:bbstat_04 {
    publishDir = [
      path: "$params.outdir/Step_2/04_bbstat",
      mode: 'copy',
      saveAs: { filename -> "04_${filename}" }
    ]
  }
  withName:bbstat_05 {
    publishDir = [
      path: "$params.outdir/Step_2/05_bbstat",
      mode: 'copy',
      saveAs: { filename -> "05_${filename}" }
    ]
  }
  withName:bbstat_05 {
    publishDir = [
      path: "$params.outdir/Step_2/06_bbstat",
      mode: 'copy',
      saveAs: { filename -> "06_${filename}" }
    ]
  }
  withName:SPLIT_FASTA_01 {
    publishDir = [
      path: "$params.outdir/Step_1/01_ArrowPolish",
      mode: 'copy'
    ]
  }
  withName:SPLIT_FASTA_07 {
    publishDir = [
      path: "$params.outdir/Step_2/06_FreeBayesPolish",
      mode: 'copy'
    ]
  }
  withName:PURGE_DUPS_CASE1 {
    publishDir = [
      path: "$params.outdir/Step_1/02_Purge_Dups",
      mode: 'copy'
    ]
  }
  withName:PURGE_DUPS_02 {
    publishDir = [
      path: "$params.outdir/Step_1/02_Purge_Dups",
      mode: 'copy'
    ]
  }
  withName:BUSCO {
    publishDir = [
      path: "$params.outdir/Step_1/02_BUSCO",
      mode: 'copy'
    ]
  }
}
