process {
    executor = 'sge'
    clusterOptions = params.clusterOptions ? "$params.clusterOptions" : '-V -pe smp 16 -cwd -l h_vmem=4G -l h_rt=04:00:00' 
    // -V pass on environmental variables, 40 threads shared memory, from PWD
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}
