process {
    executor = 'sge'
    clusterOptions = params.clusterOptions ? "$params.clusterOptions" : '-V -pe smp 40 -cwd' // -V pass on environmental variables, 40 threads shared memory, from PWD
    // queue = 'long'  // <= listed here as potential nextflow sge directives, clusterOptions is probably safer
    // memory = '10GB' 
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}
